<header> 
    <div class="box">
        <a href="./" class="logo"><i class='bx bx-spa'></i></a>
                <div class="barra">
                    <a class="txt" href="#"><i class='bx bx-search'></i></a>
                    <input class="pesquisa" type="text" placeholder="Buscar">
                </div>
    </div>

    <ul class="nav">
        <li><a href="./">Home</a></li>
        <li><a href="./sobre">About</a></li>
        <li><a href="./login">Sing in</a></li>
        <a href="#"><i id="conta" class='bx bxs-user-circle' ></i></a>
    </ul>
</header>
<nav class="bar">
    <ul class="menu">
        <li><a href="">Lançamentos</a></li>
        <li><a href="">Feminino</a></li> 
        <li><a href="">Masculino</a></li>
        <li><a href="">Calçados</a></li>
        <li><a href="">Acessórios</a></li>
    </ul>
</nav>
