<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/null/lotus--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <a href="./" class="logo"><i class='bx bx-spa'></i>Blunt Sports</a>

        <ul class="nav">
            <li><a href="./">Home</a></li>
            <li><a href="./sobre">About</a></li>
            <li><a href="./cadastro">Sing in</a></li>
        </ul>
    </header>

    <div class="card">
        <div class="containerC">
            <div class="form">
                <form action="">
                    <div class="header">
                        <div class="title">
                            <h1>Cadastre-se</h1>
                        </div>
                        <div class="login">
                            <a href="./login">Entrar</a>
                        </div>
                    </div>
                    <div class="input">
                        <div class="input-box">
                            <label for="fullname">Nome completo</label>
                            <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                        </div>
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="text" name="email" placeholder="Digite seu email" required>
                        </div>

                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                        </div>
                      
                    </div>
                    <div class="cadastrar">
                        <button><a href="">cadastrar</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>