<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/null/lotus--v1.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Blunt sports</title>
</head>
<body> 
    <header>
        <a href="./" class="logo"><i class='bx bx-spa'></i>Blunt Sports</a>

        <ul class="nav">
            <li><a href="./">Home</a></li>
            <li><a href="./sobre">About</a></li>
            <li><a href="./login">Sing in</a></li>
        </ul>
    </header>

    <section class="home">
        <div class="home-img">
            <img src="/images/tenis.png">
        </div>

        <div class="home-text">

            <h1>Tenis <br> Giannis II</h1>
            <h5>The best snkrs</h5>
            <h3>$50.00</h3>
            <a href="./loja" class="btn">Shop Now</a>

        </div>
    </section>
</body>
</html>